<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.gradeSystemBackend.mapper.TeacherMapper">

    <!-- 根据教师ID查询教师教授的所有课程 -->
    <select id="getTeacherCourseList" resultType="org.gradeSystemBackend.entity.vo.TeacherCourseListVO">
        SELECT id AS course_id,
               course_name,
               teacher_id
        FROM courses
        WHERE teacher_id = #{teacherId}
    </select>
    <select id="getCourseStudentList" resultType="org.gradeSystemBackend.entity.vo.CourseStudentListVO">
        SELECT s.id AS studentId,
               s.name AS studentName
        FROM students s
                 JOIN grades g ON s.id = g.student_id
        WHERE g.teacher_id = #{teacherId} AND g.course_id = #{courseId}
    </select>
</mapper>
